body{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding:0;  
  border:0;   
  margin:0;
}
*{
  box-sizing: border-box;
}
#aboutLine{
  opacity: 1!important;
}
/*顶部导航*/
#middle{
  margin-top:120px;
  width: 100%;
  min-height: calc(100vh - 270px);
}
#middle main{
  width:1226px;
  margin: 0 auto;
}

