<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>岩创科技有限公司</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/about.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/footerInfo.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/topNavigation.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="../js/request.js"></script>
  <script src="../js/about.js"></script>
</head>
<body>
  <header id="TopNavigation">
    <main>
      <div id="LeftTopNavigation">
        <div id="TopNavigationLogo">LOGO</div>
        <div id="TopNavigationCompany"><a href="../index.html">岩创科技</a></div>
      </div>
      <div id="RightTopNavigation">
        <ul>
          <li id="news">
            <div id="newsLine"></div>新闻资讯
          </li>
          <li id="pro">
            <div id="proLine"></div>产品信息
          </li>
          <li id="case">
            <div id="caseLine"></div>应用案例
          </li>
          <li id="about">
            <div id="aboutLine"></div>关于我们
          </li>
        </ul>
    </main>
  </header>
  <div id="middle">
    <main>
      <div class="introduction">
        <h2>公司简介</h2>
        <p></p>
        <div class="line"></div>
      </div>
      <div class="course">
        <h2>公司历程</h2>
        <div class="history">
        </div>
        <div class="line"></div>
      </div>
      <div class="contact">
        <h2>联系我们</h2>
        <div class="contactDetail" id="address">
          <h3></h3>
        </div>
        <div class="contactDetail" id="phone">
          <h3></h3>
        </div>
        <div class="contactDetail" id="mail">
          <h3></h3>
        </div>
      </div>
    </main>
  </div>
  <footer id="FooterInfo">
    <main>
      <div id="TopFooterInfo">
        <div id="LeftFooterInfo">
          <div id="fNews">
            <a>新闻资讯</a>
          </div>
          <div id="fPro">
            <a>产品信息</a>
          </div>
          <div id="fCase" >
            <a>应用案例</a>
          </div>
          <div id="fAbout">
            <a>关于我们</a>
          </div>
        </div>
        <div id="RightFooterInfo">
          <div id="FooterInfoLogo">LOGO岩创科技</div>
          <div id="FooterInfoCompany"></div>
        </div>
      </div>
      <div id="BottomFooterInfo">
        <div id="LeftFooterInfo">
          浙ICP备18047933号
          <img src="../assets/images/police.png" id="policeLogo">
          浙公网安备 33060202000686号
        </div>
        <div id="RightFooterInfo">
          ©2018岩创科技有限公司&nbsp;&nbsp;版权所有
        </div>
      </div>
    </main>
  </footer>
  <script src="../js/root.js"></script>
</body>
</html>