<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title>岩创科技有限公司</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="../js/request.js"></script>
  <script src="../js/news.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/news.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/footerInfo.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/topNavigation.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/zxf_page.css"/>
</head>
<body>
  <header id="TopNavigation">
    <div class="main">
      <div id="LeftTopNavigation">
        <div id="TopNavigationLogo">LOGO</div>
        <div id="TopNavigationCompany"><a href="../index.html">岩创科技</a></div>
      </div>
      <div id="RightTopNavigation">
        <ul>
          <li id="news">
            <div id="newsLine"></div>新闻资讯
          </li>
          <li id="pro">
            <div id="proLine"></div>产品信息
          </li>
          <li id="case">
            <div id="caseLine"></div>应用案例
          </li>
          <li id="about">
            <div id="aboutLine"></div>关于我们
          </li>
        </ul>
    </div>
  </header>
  <div id="middle">
    <div class="main">
      <div class="newsHead">
        <div class="headLeft">
          
        </div>
        <div class="headRight">
          <div class='listTop'></div>
          <div class='listTop'></div>
          <div class='listTop'></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="newsBox">
        <div class="newsTrends"><div class="line"></div>新闻动态</div>
        <ul class="newsList">
          <li></li>
        </ul>
        <div class="zxf_pagediv"></div>
      </div>
    </div>
  </div>
  <footer id="FooterInfo">
    <div class="main">
      <div id="TopFooterInfo">
        <div id="LeftFooterInfo">
          <div id="fNews">
            <a>新闻资讯</a>
          </div>
          <div id="fPro">
            <a>产品信息</a>
          </div>
          <div id="fCase" >
            <a>应用案例</a>
          </div>
          <div id="fAbout">
            <a>关于我们</a>
          </div>
        </div>
        <div id="RightFooterInfo">
          <div id="FooterInfoLogo">LOGO岩创科技</div>
          <div id="FooterInfoCompany"></div>
        </div>
      </div>
      <div id="BottomFooterInfo">
        <div id="LeftFooterInfo">
          浙ICP备18047933号
          <img src="../assets/images/police.png" id="policeLogo">
          浙公网安备 33060202000686号
        </div>
        <div id="RightFooterInfo">
          ©2018岩创科技有限公司&nbsp;&nbsp;版权所有
        </div>
      </div>
    </div>
  </footer>
  <script src="../js/root.js"></script>
  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
  <script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="../js/zxf_page.js"></script>

</body>
</html>