<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title>岩创科技有限公司</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/product.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/footerInfo.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/topNavigation.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/zxf_page.css"/>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="../js/request.js"></script>
  
</head>
<body>
  <header id="TopNavigation">
    <div class="main">
      <div id="LeftTopNavigation">
        <div id="TopNavigationLogo">LOGO</div>
        <div id="TopNavigationCompany"><a href="../index.html">岩创科技</a></div>
        <div class="weChat"><img src="./../assets/images/QRcode.png"></div>
        <div class="weChatLogo"><img src="./../assets/images/QRcode.png"></div>
      </div>
      <div id="RightTopNavigation">
        <ul>
          <li id="news">
            <div id="newsLine"></div>新闻资讯
          </li>
          <li id="pro">
            <div id="proLine"></div>产品信息
          </li>
          <li id="case">
            <div id="caseLine"></div>应用案例
          </li>
          <li id="about">
            <div id="aboutLine"></div>关于我们
          </li>
        </ul>
    </div>
  </header>
  <div id="middle">
    <div class="main">
      <div class="searchBox">
        <div class="searchGroup">
          <form action="" class="search">
            <select class="searchClass" onchange="selectSearch()">
                <option value ="all" selected>全部</option>
                <option value ="hard">硬件</option>
                <option value ="soft">软件</option>
            </select>
            <input type="text" placeholder="请输入内容" class="content">
            <input type="button" value="   搜索" onclick="search(classId,name)">
          </form>
        </div>
      </div>
      <section class="class">
        <div class="title">分类:</div>
        <div class="classDetail">
          <div class="proClass classFont" id="all"><div class="line"></div>全部</div>
          <div class="proClass" id="hard" onclick="hard()"><div class="line"></div>硬件</div>
          <div class="proClass" id="soft" onclick="soft()"><div class="line"></div>软件</div>
        </div>
      </section>
      <div class="proList">
      </div>
      <div class="zxf_pagediv"></div>
    </div>
  </div>
  <footer id="FooterInfo">
    <div class="main">
      <div id="TopFooterInfo">
        <div id="LeftFooterInfo">
          <div id="fNews">
            <a>新闻资讯</a>
          </div>
          <div id="fPro">
            <a>产品信息</a>
          </div>
          <div id="fCase" >
            <a>应用案例</a>
          </div>
          <div id="fAbout">
            <a>关于我们</a>
          </div>
        </div>
        <div id="RightFooterInfo">
          <div id="FooterInfoLogo">LOGO岩创科技</div>
          <div id="FooterInfoCompany"></div>
        </div>
      </div>
      <div id="BottomFooterInfo">
        <div id="LeftFooterInfo">
          浙ICP备18047933号
          <img src="../assets/images/police.png" id="policeLogo">
          浙公网安备 33060202000686号
        </div>
        <div id="RightFooterInfo">
          ©2018岩创科技有限公司&nbsp;&nbsp;版权所有
        </div>
      </div>
    </div>
  </footer>
  <script src="../js/root.js"></script>
  <script src="../js/product.js"></script>
  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
  <script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="../js/zxf_proPage.js"></script>
</body>
</html>