<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>岩创科技有限公司</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/product.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/footerInfo.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/topNavigation.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="../js/request.js"></script>
</head>
<body>
  <header id="TopNavigation">
    <main>
      <div id="LeftTopNavigation">
        <div id="TopNavigationLogo">LOGO</div>
        <div id="TopNavigationCompany"><a href="../index.html">岩创科技</a></div>
      </div>
      <div id="RightTopNavigation">
        <ul>
          <li id="news">
            <div id="newsLine"></div>新闻资讯
          </li>
          <li id="pro">
            <div id="proLine"></div>产品信息
          </li>
          <li id="case">
            <div id="caseLine"></div>应用案例
          </li>
          <li id="about">
            <div id="aboutLine"></div>关于我们
          </li>
        </ul>
    </main>
  </header>
  <div id="middle">
    <main>
      <div class="searchBox">
        <div class="searchGroup">
          <form action="" class="search">
            <select>
              <option value ="all">全部</option>
              <option value ="hard">硬件</option>
              <option value ="soft">软件</option>
            </select>
            <input type="text" placeholder="请输入内容">
            <input type="button" >
          </form>
        </div>
      </div>
      <div class="class">12</div>
      <div class="proList">
        <div class="proBox">
          <a>
            <div class="proPic">
              <img src="../assets/images/boxed-water-is-better-1464053-unsplash.jpg">
            </div>
            <div class="proFont">
              <p>123</p>
              <div class="detail">123hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
            </div>
            <div class="clear"></div>
          </a>
        </div>
        <div class="proBox">
          <a>
            <div class="proPic">
              <img src="../assets/images/boxed-water-is-better-1464053-unsplash.jpg">
            </div>
            <div class="proFont">
              <p>123</p>
              <div class="detail">123hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
            </div>
            <div class="clear"></div>
          </a>
        </div>
        <div class="proBox">
          <a>
            <div class="proPic">
              <img src="../assets/images/boxed-water-is-better-1464053-unsplash.jpg">
            </div>
            <div class="proFont">
              <p>123</p>
              <div class="detail">123hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
            </div>
            <div class="clear"></div>
          </a>
        </div>
        <div class="proBox">
          <a>
            <div class="proPic">
              <img src="../assets/images/boxed-water-is-better-1464053-unsplash.jpg">
            </div>
            <div class="proFont">
              <p>123</p>
              <div class="detail">123hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
            </div>
            <div class="clear"></div>
          </a>
        </div>
      </div>
    </main>
  </div>
  <footer id="FooterInfo">
    <main>
      <div id="TopFooterInfo">
        <div id="LeftFooterInfo">
          <div>
            资源共享
          </div>
          <div>
            新闻资讯
          </div>
          <div>
            产品信息
          </div>
          <div>
            关于我们
          </div>
        </div>
        <div id="RightFooterInfo">
          <div id="FooterInfoLogo">LOGO岩创科技</div>
          <div id="FooterInfoCompany"></div>
        </div>
      </div>
      <div id="BottomFooterInfo">
        <div id="LeftFooterInfo">
          浙ICP备18047933号
          <img src="../assets/images/police.png" id="policeLogo">
          浙公网安备 33060202000686号
        </div>
        <div id="RightFooterInfo">
          ©2018岩创科技有限公司&nbsp;&nbsp;版权所有
        </div>
      </div>
    </main>
  </footer>
  <script src="../js/index.js"></script>
</body>
</html>